<div class="container-fluid">
    <div class="row text-right">
        <a href="">Home</a> |
        <a href="">Sign in</a> |
        <a href="">Help</a>
    </div>
    <div class="row text-center">
        <h1>Shorty .NET</h1>
        <h3>A community powered URL shortner service</h3>
    </div>
</div>
@using (Html.BeginForm("ShortIt"))
{
    <div class="container">
        <div class="row extra-top-padding">
            <div class="col-md-6 col-md-offset-3 form-group">
                <div class="input-group">
                    <input type="text" class="form-control" />
                    <span class="input-group-btn">
                        <button class="btn btn-default">Go!</button>
                    </span>
                </div>
            </div>
        </div>
        <div class="row form-horizontal" id="advancedOptions">
            <div class="col-md-4 col-md-offset-5">
                <div class="form-group small-row-diff">
                    <label for="customUrl" class="control-label col-md-4">Custom URL</label>
                    <div class="col-md-8">
                        <input type="text" id="customUrl" class="form-control input-sm" />
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-md-offset-5">
                <div class="form-group ">
                    <label for="urlPassword" class="control-label col-md-4">Password</label>
                    <div class="col-md-8">
                        <input type="text" id="urlPassword" class="form-control input-sm" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-5 text-right">
                <span>Advanced options</span>
            </div>
        </div>
    </div>
}
@*<div class="container navigation jumbo-back">
        <div class="centered text-right" style="margin: -20px -10px 0 0">
            <a href="#">Home</a> |
            <a href="">Sign in</a> |
            <a href="">Help</a>
        </div>
        <div class="row">
            <div class="medium-10 columns medium-centered">
                <h1 class="text-center">Shorty .NET</h1>
                <h5 class="text-center">Community powered, super simple and extensive URL shortner service</h5>
            </div>
        </div>
    </div>

    <form>
        <div class="row">
            <div class="medium-8 columns medium-centered">
                <div class="row collapse extra-top-padding">
                    <div class="medium-12 columns medium-centered">
                        <div class="row collapse">
                            <div class="medium-10 columns">
                                <input type="text">
                            </div>
                            <div class="medium-2 columns">
                                <a href="#" class="button postfix">Go!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="medium-offset-7 medium-3 text-right columns">
                <a href="#">Advanced options</a>
            </div>
        </div>

        <div class="row">
            <div class="medium-offset-5 medium-5 columns">
                <div class="row">
                    <div class="medium-4 columns">
                        <label for="custom-short" class="right inline">Custom URL</label>
                    </div>
                    <div class="medium-8 columns">
                        <input type="text" id="custom-short">
                    </div>
                </div>
                <div class="row">
                    <div class="medium-4 columns">
                        <label for="password-text" class="right inline">Password</label>
                    </div>
                    <div class="medium-8 columns">
                        <input type="text" id="password-text">
                    </div>
                </div>
            </div>
        </div>
    </form>*@